/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.app-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .app-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .app-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .app-container {
    width: 1170px;
  }
}





