* {

}

body {
    background-color: #E2E8F0;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    display: inline-block;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

#password {
    flex-grow: 1;
    padding: 10px;
    border-radius: 0.5rem;
    border: 1px solid black;
}

button {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}

button:active {
    transform: scale(0.98);
}


.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 1rem;
    margin: auto;
    background-color: white;
    border: 1px solid rgb(128, 128, 128);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.checkmark {
    height: 20px;
    width: 20px;
    background-color: #eee;
}

#password-length {
    width: 80px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

