@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Robotto", sans-serif;
}

h1 {
    margin: 0;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

p {
    font-size: 1rem;
    font-weight: 500;
    animation: breathing 2s ease-out infinite normal;
}

p:hover {
    transform: scale(1.2);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #9ebefa;
}

#game-canvas {
    background-color: #fcf3f3;
    width: 350px;
    height: 600px;
    border-radius: 5px;
}
