body {
    background: black;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}

label {
    display: block;
}

#speed-container {
    display: flex;
    color: white;
    margin-bottom: 1.2rem;
    justify-content: center;
    gap: 1rem;
}

#gameSpeed {
    flex-grow: 1;
}
