<div class="min-h-screen bg-gray-100 flex items-center">
  <div class="w-full mx-auto max-w-sm">
    <div class="bg-white shadow rounded-lg p-5 w-full">
      <h2 class="font-bold text-gray-800 text-lg">Tuesday, November 7, 2023</h2>
      <div>

        <div class="flex mt-4 mb-2">
          <div class="flex-1">
            <div class="text-gray-600 text-sm">Dar es Salaam</div>
            <div class="text-3xl font-bold text-gray-800"> 30&deg;C</div>
            <div class="text-sm text-gray-600">Mist</div>
          </div>
          <div class="w-24">
            <img alt="weather icon" height="64" ngSrc="{{ defaultIcon }}" width="64">
          </div>
        </div>

        <div class="flex space-x-2 justify-between border-t">
          <div class="flex-1 text-center pt-3 border-r">
            <div class="text-xs text-gray-500">08/11/2023</div>
            <img alt="" class="mx-auto" height="64" ngSrc="{{ defaultIcon }}" width="64">
            <div class="font-semibold text-gray-800 mt-1.5">23 &deg;C</div>
            <div class="text-xs text-gray-600">Patchy rain possible</div>
          </div>
          <div class="flex-1 text-center pt-3">
            <div class="text-xs text-gray-500">08/11/2023</div>
            <img alt="" class="mx-auto" height="64" ngSrc="{{ defaultIcon }}" width="64">
            <div class="font-semibold text-gray-800 mt-1.5">23 &deg;C</div>
            <div class="text-xs text-gray-600">Patchy rain possible</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
